footer {
   /* Height footer and background */
    height: 60vh;
    background-color: #2B2E34;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;

    /* Column on mobile */
    @include sm {
        flex-direction: column;
        }
   

}

/* width column-1 */
.footer-column-1 {
width: 30vw;

h4 {
    padding-bottom: 1rem;
}

/* width mobile */
@include sm {
    width: 80vw;
    }
}

.footer-column-2 {
text-align: right;

span {
    font-style: italic;
}

@include sm {
    text-align: left;
    }
}


