@import "./variables.scss";
@import "./mixins.scss";

.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;

    @include sm {
        flex-direction: column;
    }
   




    .column-1 {
        width: 30vw;

        @include sm {
            width: 80vw;
            padding: 1rem;
        }
        
}

    img {
        margin-top: -8rem;
        height: 100vh;

        @include sm {
            margin-top: 1rem;
        }
    }

}







