
@import "./variables.scss";
@import "./mixins.scss";

.section-6 {
    
    background-image: url(/bilder/Q1_newsletter-02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 75vh;
    
    


    
    
       
    }
    
    .column-6 {
        width: 80vw;
        text-align: center;
        padding-top: 60px;
        

    
        
    }
    
    .column-6 h3 {
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }